.verify_main {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.verify_input_container {
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 3px 20px #00000021;
  border-radius: 12px;
  box-sizing: border-box;
  height: 20rem;
  padding: 1rem;
  border-top: 1rem solid #2e1963;
}

.code_input {
  margin-top: 2rem;
}
.verify_submit, .verify_submit:hover {
  margin-top: 2rem;
  background-color: #2e1963;
  border-color: #2e1963;
  box-shadow: none!important;
}

.verify_submit:hover {
  background-color: #6a4bbc;
  border-color: #6a4bbc;
}

.verify_submit:focus, .verify_submit:focus-within, .verify_submit:active {
  background-color: #2e1963;
  border-color: #2e1963;
}