@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('Basis Grotesque Pro'), url('./Assets/Font/BasisGrotesquePro-Regular.ttf');
}

body {
  font-family: 'Basis Grotesque Pro'!important;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  transition: ease all .25s;
}

ul {
  list-style-type: none;
}