@font-face {
  font-family: 'Basis Grotesque Pro';
  src: local('Basis Grotesque Pro'), url('./Assets/Font/BasisGrotesquePro-Regular.ttf') format('tff');
}

body {
  font-family: 'Basis Grotesque Pro'!important;
}